<div ng-controller="NewUsersCtrl" ng-init="init('AU','hll')">
	<div class="pageheader main-nav navbar-fixed-top"  >
		<div class="media">
			<div class="pageicon pull-left">
				<i class="fa fa-user"></i>
			</div>
			<div class="media-body">
				<ul class="breadcrumb">
					<li>Trends</li>
					<li>Active User</li>
				</ul>
				<h4>Active Users</h4>
			</div>
		</div>
		<div class="pull-right fourth-nav">
			<input date-range-picker class="form-control date-picker" type="text" ng-model="daterange.date" />
			<span class="glyphicon glyphicon-calendar calendar-icon"></span>
		</div>
	</div>
	<div class="body-content" >
		<div class="third-nav">


			<ul class="nav nav-tabs" role="tablist" ng-init="tab=1">
				<li ng-class="{active:tab===1}">
					<a href ng-click="tab = 1" role="tab" data-toggle="tab">
						<i class="fa fa-clock-o"></i><span>Active Users</span>
					</a>
				</li>
				<li ng-class="{active:tab===2}" ng-hide="app.ostype=='iOS'">
					<a href ng-click="tab=2" role="tab" data-toggle="tab">
						<i class="fa fa-paper-plane-o"></i><span>Source</span>
					</a>
				</li>
				<li ng-class="{active:tab===3}">
					<a href ng-click="tab=3" role="tab" data-toggle="tab">
						<i class="fa fa-mobile-phone"></i><span>Device</span>
					</a>
				</li>
				<li ng-class="{active:tab===4}">
					<a href ng-click="tab=4" role="tab" data-toggle="tab">
						<i class="fa fa-map-marker"></i> <span>Location</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="tab-content">
			<div class="tab-pane fade in active" ng-show="tab===1">
				<div class="panel">
					<div class="panel-body progress-panel">
						<div class="panel-content">
							<div class="col-lg-9 no-padding col-sm-12">
								<div class="graph-header">
									<div  class="  fifth-nav bm8 text-right">
										<div class="btn-group ">
											<button id='TnewUsersTrend_exportpdf' type='Button' value='Export to PDF' class="btn-nobg pull-left">
	               					<i class="fa-trends fa-pdf ">&nbsp;</i>
	            				</button>
	        				    <button id='TnewUsersTrend_exportpng' type='Button' value='Export to PDF' class="btn-nobg pull-left">
	          					    <i class="fa-trends fa-img ">&nbsp;</i>
	           					</button>

	         				    <a href="#" class="fsize-bl"><i class="fa-trends fa-fsize pull-right">&nbsp;</i>	</a>
										</div>
									</div>
								</div>
							<div id = "TnewUsersTrend" class="graph-container">
								<!-- <img src="images/img-gp7.jpg"  class="full-image">  -->
							</div>
							<div class="state-overview   tm30">
								<div class="col-lg-4 col-sm-6">
									<section class="panel panel-sblock border ">
										<div class="symbol ">
											<i class="fa-trends fa-smuser">&nbsp;</i>
										</div>
										<div class="value">
											<p>Active Users</p>
											<h1 class="count rtext">{{ new_users }} </h1>
										</div>
									</section>
								</div>
								<div class="col-lg-4 col-sm-6">
									<section class="panel panel-sblock border p-blue ">
										<div class="symbol ">
											<i class="fa-trends fa-smmob">&nbsp;</i>
										</div>
										<div class="value">
											<p>Most Used Device</p>
											<h1 class="count">{{ top_devices[0].y}} <span class="device-modal">{{ top_devices[0].x}}</span>  </h1>
										</div>
									</section>
								</div>
								<div class="col-lg-4 col-sm-6">
									<section class="panel panel-sblock border p-yellow ">
										<div class="symbol ">
											<i class="fa-trends fa-smmap">&nbsp;</i>
										</div>
										<div class="value">
											<p>Chief Vendor</p>

											<h1 class="count">{{ top_manufacturer }}</h1>
										</div>
									</section>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="graph-desc tp30">
                            <div class="col-lg-12 col-sm-6">
								<span class="left arrow" ></span>
								<p class="duration ">Active Users in last 30 Days</p>
								<p class="graph-value"> {{newusers_last30days}}</p>
                                </div>
								<!-- <p class="graph-status"><span>Down</span> 100% from the previous month  </p> -->
								<div class="progress-thinbar border-top tm30 col-lg-12 col-sm-6">
									<div class="panel">
										<div class="pname btext"> {{ top_devices[0].y}} {{ top_devices[0].x}} </div>
										<div class="status">
											<div class="progress transparent progress-mid no-radius" style="width:100%">
												<div ng-style="{ 'width' : top_devices_percent[0] + '%'}"  class="progress-bar progress-bar-blue animate-progress-bar" data-percentage="64.8%"></div>
											</div>
											<div class="status-massage">{{ top_devices_percent[0] }}%</div>
										</div>
									</div>
									<div class="panel">
										<div class="pname rtext"> {{ top_devices[1].y}} {{ top_devices[1].x}}  </div>
										<div class="status">
											<div class="progress transparent progress-mid no-radius" style="width:100%">
												<div ng-style="{ 'width' : top_devices_percent[1] + '%'}" class="progress-bar progress-bar-red animate-progress-bar" data-percentage="20%"></div>
											</div>
											<div class="status-massage">{{ top_devices_percent[1] }}%</div>
										</div>
									</div>
									<div class="panel">
										<div class="pname ytext">{{ top_devices[2].y}} {{ top_devices[2].x}}   </div>
										<div class="status">
											<div class="progress transparent progress-mid no-radius" style="width:100%">
												<div ng-style="{ 'width' : top_devices_percent[2] + '%'}" class="progress-bar progress-bar-yellow animate-progress-bar" data-percentage="40%"></div>
											</div>
											<div class="status-massage">{{ top_devices_percent[2] }}%</div>
										</div>
									</div>
									<div class="panel">
										<div class="pname gtext">{{ top_devices[3].y}} {{ top_devices[3].x}}   </div>
										<div class="status">
											<div class="progress transparent progress-mid no-radius" style="width:100%">
												<div  ng-style="{ 'width' : top_devices_percent[3] + '%'}"class="progress-bar progress-bar-green animate-progress-bar" data-percentage="40%"></div>
											</div>
											<div class="status-massage">{{ top_devices_percent[3] }}%</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="panel-body    ">
					<div class="task-progress task-progress-noborder border-top ">
						<div class="btn-group pull-right fifth-nav">
	                        <a href="#" class="fsize-bl"><i class="fa-trends fa-fsize pull-right">&nbsp;</i>	</a>

							<button type="button" ng-csv="AUVisitorsDayWiseListCSV" csv-header="['Date', 'Active Users', 'Change in %','New Users','Returning Users']" filename="Actve_Users_Day_Wise_List.csv" class="btn-nobg pull-left" ><i class="fa-trends fa-excel pull-right">&nbsp;</i></button>
	                    </div>
						<h2>Day Wise List</h2>
					</div>
					<div class="text-center panel-content">
						<div class="table-component">
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<thead>
									<tr>
										<th width="10%" class="text-center">Date</th>
										<th width="30%">Active Users</th>
										<th width="30%">New Users</th>
                                        <th width="30%">Returning Users </th>
									</tr>
								</thead>
								<tbody>

									<!-- <tr ng-hide="table1loaded">
                                <td colspan="5" >
                                  <p class="text-center"><img src="images/ajax-loader.gif"></p>
                                </td>
                              </tr> -->

									<tr  ng-repeat="elem in page_daywise_list">
										<td class="active text-center "><strong class="fs18">{{ elem.x }}</strong></td>
										<td>{{ elem.y }} <span class="fs11 tb-change">{{ elem.z }}%</span>

             <span  ng-class="{true:'glyphicon glyphicon-upload gtext fs11',false:'glyphicon glyphicon-download rtext fs11'}[elem.z >= 0]" ></span></td>
										<td>
                                        {{elem.c}}
                                       <!--  <span class="fs9" ng-class="{true:'fa fa-arrow-up gtext',false:'fa fa-arrow-down rtext'}[elem.z >= 0]" style="display:none;"></span>
                                        <div class="progress value-progress " style="display:none;">	<div ng-class="{true:'progress-bar bar-green',false:'progress-bar bar-red'}[elem.z >= 0]" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width' : elem.z>=0 ? elem.z : -1*elem.z + '%'}" >
											</div>
										</div> -->
										</td>
                                        <td>{{elem.d}}</td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>
					<pagination previous-text="<" next-text=">" first-text="<<" last-text=">>" total-items="visitor_items" ng-model="visitor_current_page" max-size="max_pages" class="pagination-sm pull-right" boundary-links="true"></pagination>
				</div>

			</div>
		</div>
		<div class="tab-pane fade in active" ng-show="tab===2">
			<div class="panel">
				<div class="panel-body progress-panel">
					<div class="panel-content">



						<div class="col-lg-9 no-padding ">
							<div class="task-progress">
									<div  class="  fifth-nav bm8 pull-right">
										<div class="btn-group ">
											<button id='TopSourceTrends_exportpdf' type='Button' value='Export to PDF' class="btn-nobg pull-left">
	                           					 <i class="fa-trends fa-pdf ">&nbsp;</i>
	                        				</button>
	                    				    <button id='TopSourceTrends_exportpng' type='Button' value='Export to PDF' class="btn-nobg pull-left">
	                      					      <i class="fa-trends fa-img ">&nbsp;</i>
	                       					 </button>
	                     				   <a href="#" class="fsize-bl"><i class="fa-trends fa-fsize pull-right">&nbsp;</i>	</a>
										</div>
									</div>


                                   <div class="multiselect-md">
     <div class="btn-group"
    isteven-multi-select
    input-model="top_sources"
    output-model="selectedtop_sources"
     button-label="x"
    item-label="x"
    tick-property="ticked"
    max-labels="5"
    max-height="210px"
></div>
</div>

							</div>
							<div class="border">
								<div class="graph-container">
									<div id="TopSourceTrends" class="graph-container tm1">
									</div>
								</div>
							</div>




						</div>
						<div class="col-lg-3">
							<div class="graph-desc tp30 panel-transparent">
								<span class="left arrow"></span>
								<div class="task-progress no-padding">
									<h2>Source Wise Data</h2>
									<p class="progress-type">Top {{top_sources.length}} sources showing here</p>
								</div>

								<div class="progress-thinbar  pb0    ">
									<ul class="media-list media-plist">
										<li ng-repeat="topsource in top_sources |limitTo: 5" class="media border-bottom  ">
											<div class="pull-left heading fthin"> {{top_sources_percent[$index]}}% <span class="bg-green piller piller-70"></span></div>
											<div class="media-body content"><p>{{topsource.x}}</p></div>
										</li>

									</ul>

								</div>
							</div>
						</div>
						<div class="col-lg-12 no-padding">
							<div class="col-lg-4 col-sm-4">

								<div ID="OrgvsInorg_share" class="graph-container tm10">
									<!-- <img src="images/img-gp9.jpg" > -->
								</div>
							</div>
							<div class="col-lg-4 col-sm-4">

								<div id = "topKeywords_share" class="graph-container tm30">
									<!-- <img src="images/img-gp14.jpg" > -->
								</div>
							</div>
							<div class="col-lg-4 col-sm-4" ng-if="tab===2">

								<div class="tm30"><jqcloud fontSize="{'from': .08, 'to':.04}"center="{x: 0.5, y:0.5}" words="words" width="330" height="250" steps="8"></jqcloud></div>
							</div>
						</div>
					</div>
				</div>

				<div class="panel-body progress-panel ">
					<div class="task-progress task-progress-noborder border-top ">
						<div class="btn-group pull-right fifth-nav">
                        <a href="#" class="fsize-bl" ><i class="fa-trends fa-fsize pull-right">&nbsp;</i>	</a>

						<button type="button" ng-csv="SourceNewUsersListCSV" csv-header="['Source', 'Active Users']" filename="Source_Active_Users_List.csv" class="btn-nobg pull-left" ><i class="fa-trends fa-excel pull-right">&nbsp;</i></button>
                        </div>
						<h2>Top Source Day Wise List</h2>
					</div>
					<div class="text-center panel-content">
						<div class="table-component">
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<thead>
									<tr>
										<th width="40%">Source</th>
										<th width="30%">Active Users</th>
										<th width="30%"  >Share</th>
									</tr>
								</thead>
								<tbody>

									<!-- <tr ng-hide="table2loaded">
                                <td colspan="5" >
                                  <p class="text-center"><img src="images/ajax-loader.gif"></p>
                                </td>
                              </tr> -->

									<tr  ng-repeat="elem in filteredsourcenewuserslist">
										<td>{{ elem.x }}</td>
										<td><strong>{{ elem.y }}</strong></td>
										<td>
											<span class="  ng-binding tb-change">{{ (elem.y/paid_installs_total_raw)*100 |  number:2 }}%</span>
                                             <span  ng-class="{true:'glyphicon glyphicon-upload gtext',false:'glyphicon glyphicon-download rtext'}[elem.y >= 0]" ></span>

											<div class="progress value-progress mmt5" style="display:none;">
												<div class="progress-bar bar-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width' : (elem.y/paid_installs_total_raw)*100 + '%'}">
													<span class="sr-only">60% Complete</span>
												</div>
											</div>


										</td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>
					<pagination previous-text="<" next-text=">" first-text="<<" last-text=">>" total-items="source_items" ng-model="source_current_page" max-size="max_pages" class="pagination-sm pull-right" boundary-links="true"></pagination>
				</div>

			</div>
		</div>
		<div class="tab-pane fade in active" ng-show="tab===3">
			<div class="panel">
				<div class="panel-body progress-panel">
					<div class="panel-content">




						<div class="col-lg-12 no-padding">
							<div class="task-progress">
									<div  class="  fifth-nav bm8 pull-right">
										<div class="btn-group ">
											<button id='NUTopDeviceTrends_exportpdf' type='Button' value='Export to PDF' class="btn-nobg pull-left">
	                           					 <i class="fa-trends fa-pdf ">&nbsp;</i>
	                        				</button>
	                    				    <button id='NUTopDeviceTrends_exportpng' type='Button' value='Export to PDF' class="btn-nobg pull-left">
	                      					      <i class="fa-trends fa-img ">&nbsp;</i>
	                       					 </button>
	                     				   <a href="#" class="fsize-bl"><i class="fa-trends fa-fsize pull-right">&nbsp;</i>	</a>
										</div>
									</div>

                                    <div class="multiselect-md">
     <div class="btn-group"
    isteven-multi-select
    input-model="top_devices"
    output-model="selectedtop_manus"
     button-label="x"
    item-label="x"
    tick-property="ticked"
    max-labels="5"
    max-height="210px"
></div>
</div>

							</div>
							<div id="NUTopDeviceTrends" class="graph-container ">
								<!-- <img src="images/img-gp10.jpg" class="full-image">  -->
							</div>
						</div>
						<div class="col-lg-12 no-padding">
							<div class="col-lg-6 no-padding">

								<div id = "manu_share" class="graph-container text-center ">
									<!-- <img src="images/img-gp11.jpg"  > -->
								</div>
							</div>
							<div class="col-lg-6 bg-gray">
								<div class="dv-holder">
									<div class="col-lg-6 col-md-6 col-sm-6  ">
										<div class=" msg-block background-blue wtext bm10 bg-mobile">
											<div class="pname tp30"><span>{{top_manus[0].x}}</span>  </div>
											<div class="status">
												<span class="msg-value">{{top_manus[0].y}}</span>
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class=" msg-block background-lred wtext bm10 bg-mobile">
											<div class="pname tp30"><span >{{top_manus[1].x}} </span> </div>
											<div class="status">
												<span class="msg-value">{{top_manus[1].y}}</span>
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6  ">
										<div class=" msg-block background-dblue wtext bg-mobile">
											<div class="pname tp30"><span >{{top_manus[2].x}} </span> </div>
											<div class="status">
												<span class="msg-value">{{top_manus[2].y}}</span>
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class=" msg-block background-green wtext bg-mobile">
											<div class="pname tp30"><span >{{top_manus[3].x}} </span> </div>
											<div class="status">
												<span class="msg-value">{{top_manus[3].y}}</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-12 no-padding">
							<div class="col-lg-6 col-sm-6">

								<div id="topmanu_share" class="graph-container text-center  ">
									<!-- <img src="images/img-gp15.png"> -->
								</div>
							</div>
							<div class="col-lg-6 col-sm-6">
								<div class="panel tm10">
									<div class="task-progress pl0">
										<h2>Top {{ top_manus[0].x }} Devices</h2>
									</div>
									<ul class="media-list media-plist">
										<li ng-repeat = "topmanu_device in top_manu_devices" class="media border-bottom">
											<div class="pull-left heading fthin">{{ topmanu_device.y }}% <span class="bg-green piller piller-35"></span></div>
											<div class="media-body content"><p>{{ top_manus[0].x}} {{ topmanu_device.x }}</p></div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>



				<div class="panel-body progress-panel  ">
					<div class="task-progress task-progress-noborder border-top">
						<div class="btn-group pull-right fifth-nav">
                        <a href="#" class="fsize-bl"><i class="fa-trends fa-fsize pull-right">&nbsp;</i>	</a>

						<button type="button" ng-csv="DeviceNewUsersListCSV" csv-header="['Manufacturer','Model','Active Users']" filename="Device_Active_Users_List.csv" class="btn-nobg pull-left" ><i class="fa-trends fa-excel pull-right">&nbsp;</i></button>
                        </div>
						<h2>Top Device Day Wise List</h2>
					</div>
					<div class="text-center panel-content">
						<div class="table-component">
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<thead>
									<tr>
										<th width="40%">Device</th>
										<th width="30%">Active Users</th>
										<th width="30%">Share</th>
									</tr>
								</thead>
								<tbody>
									<!-- <tr ng-hide="table3loaded">
                                <td colspan="5" >
                                  <p class="text-center"><img src="images/ajax-loader.gif"></p>
                                </td>
                              </tr> -->

									<tr  ng-repeat="dev in filtereddevicenewuserslist">
										<td >{{ dev.y }} {{ dev.x }}</td>
										<td>{{ dev.z }}</td>
										<td><span class="tb-change ng-binding ">{{ (dev.z/total_new_users_raw)*100 |  number:2 }}%</span>    <span  ng-class="{true:'glyphicon glyphicon-upload gtext',false:'glyphicon glyphicon-download rtext'}[dev.z >= 0]" ></span>
                                        <div class="progress value-progress mmt5" style="display:none;" >


											<div class="progress-bar bar-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width' : (dev.z/total_new_users_raw)*100 + '%'}">
												<span class="sr-only">60% Complete</span>
											</div>
										</div>


									</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
				<pagination previous-text="<" next-text=">" first-text="<<" last-text=">>" total-items="device_items" ng-model="device_current_page" max-size="max_pages" class="pagination-sm pull-right" boundary-links="true"></pagination>
			</div>





		</div>
	</div>
	<div class="tab-pane fade in active" ng-show="tab===4">
		<div class="panel">
			<div class="panel-body progress-panel no-padding">
				<div class="panel-content">
					<div class="col-lg-4 col-sm-12">
						<div class="graph-desc tp30 no-border">
							<!-- <img src="images/img-gp12.jpg" width="261" height="158"> -->
							<div class="panel panel-block p-blue text-center col-sm-6 col-lg-12">
								<div class="graph-header">
									<div  class="  fifth-nav bm8 text-right">

									</div>
								</div>
								<div id="top10Cities" class="text-center panel-content"></div>
							</div>
							<div class="progress-thinbar  tm0 bm0 col-sm-6 col-lg-12">
								<div class="panel bp10">
									<div class="pname btext">{{cities[0].x}} </div>
									<div class="status">
										<div class="status-massage pull-right mmt20">{{top_cities_percent[0]}}%</div>
										<div class="progress transparent progress-large no-radius" style="width:100%">
											<div ng-style="{ 'width' : top_cities_percent[0] + '%'}" class="progress-bar progress-bar-blue animate-progress-bar" data-percentage="40%"></div>
										</div>
									</div>
								</div>
								<div class="panel bp10">
									<div class="pname rtext">{{cities[1].x}} </div>
									<div class="status">
										<div class="status-massage pull-right mmt20">{{top_cities_percent[1]}}%</div>
										<div class="progress transparent progress-large no-radius" style="width:100%">
											<div ng-style="{ 'width' : top_cities_percent[1] + '%'}" class="progress-bar progress-bar-red animate-progress-bar" data-percentage="40%"></div>
										</div>
									</div>
								</div>
								<div class="panel bp10">
									<div class="pname ytext">{{cities[2].x}} </div>
									<div class="status">
										<div class="status-massage pull-right mmt20">{{top_cities_percent[2]}}%</div>
										<div class="progress transparent progress-large no-radius" style="width:100%">
											<div ng-style="{ 'width' : top_cities_percent[2] + '%'}" class="progress-bar progress-bar-yellow animate-progress-bar" data-percentage="40%"></div>
										</div>
									</div>
								</div>
								<div class="panel ">
									<div class="pname gtext">{{cities[3].x}} </div>
									<div class="status">
										<div class="status-massage pull-right mmt20">{{top_cities_percent[3]}}%</div>
										<div class="progress transparent progress-large no-radius" style="width:100%">
											<div ng-style="{ 'width' : top_cities_percent[3] + '%'}" class="progress-bar progress-bar-green animate-progress-bar" data-percentage="40%"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-8 no-padding rq-map col-sm-12">
						<div id="mapStates" class="graph-container rq-map"></div>
							<!-- <div class="rq-map text-center">
								<img src="images/img-gp13.jpg" width="531" height="332">
							</div> -->
						</div>
					</div>
				</div>

				<div class="panel-body progress-panel border-top  ">
					<div class="row">
						<div class="col-lg-6 pr0">
						<div class="panel">
							<div class="panel-body progress-panel">
								<div class="task-progress task-progress-noborder">
									<div class="btn-group pull-right fifth-nav">
			                        <a href="#" class="fsize-bl"><i class="fa-trends fa-fsize pull-right">&nbsp;</i>	</a>

									<button type="button" ng-csv="CityNewUsersListCSV" csv-header="['City', 'Active Users']" filename="Active_Users_City_Wise_List.csv" class="btn-nobg pull-left" ><i class="fa-trends fa-excel pull-right">&nbsp;</i></button>
			                     	</div>
									<h2>city wise list</h2>
								</div>

								<div class="text-center panel-content">
									<div class="table-component">
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<thead>
												<tr>
													<th width="70%">City</th>
													<th width="30%">active users</th>
												</tr>
											</thead>
											<tbody>
												<!-- <tr ng-hide="table4loaded">
                                					<td colspan="5" >
                                  						<p class="text-center"><img src="images/ajax-loader.gif"></p>
                               						 </td>
                             					 </tr> -->

												<tr  ng-repeat="elem in page_city_list">
													<td>{{ elem.x }}</td>
													<td>{{ elem.y }}</td>
												</tr>
											</tbody>
										</table>

									</div>
								</div>
								<pagination previous-text="<" next-text=">" first-text="<<" last-text=">>" total-items="city_items" ng-model="city_current_page" max-size="max_pages" class="pagination-sm pull-right" boundary-links="true"></pagination>


							</div>
							</div>




						</div>
						<div class="col-lg-6 pl0 border-left">
							<div class="fsize-bl panel">
							<div class="panel-body progress-panel">
								<div class="task-progress task-progress-noborder">
									<div class="btn-group pull-right fifth-nav">
				                        <a href="" class="fsize-block"><i class="fa-trends fa-fsize pull-right">&nbsp;</i>	</a>

										<button type="button" ng-csv="StateNewUsersListCSV" csv-header="['State', 'Active Users']" filename="Active_Users_State_Wise_List.csv" class="btn-nobg pull-left" ><i class="fa-trends fa-excel pull-right">&nbsp;</i></button>
				                    </div>
									<h2>state wise list</h2>
								</div>

								<div class="text-center panel-content">
									<div class="table-component">
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<thead>
												<tr>
													<th width="70%">State</th>
													<th width="30%">active users</th>
												</tr>
											</thead>
											<tbody>
												<!-- <tr ng-hide="table5loaded">
                                					<td colspan="5" >
                                  						<p class="text-center"><img src="images/ajax-loader.gif"></p>
                               						 </td>
                             					 </tr> -->
												<tr  ng-repeat="elem in page_state_list">
													<td>{{ elem.x }}</td>
													<td>{{ elem.y }}</td>
												</tr>
											</tbody>
										</table>

									</div>
								</div>

								<pagination previous-text="<" next-text=">" first-text="<<" last-text=">>" total-items="state_items" ng-model="state_current_page" max-size="max_pages" class="pagination-sm pull-right" boundary-links="true"></pagination>
							</div>

							</div>


						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
</div>
