<div>
<nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-top pull-left">
   <a href="#" class="brand"><img src="images/logo-rocq.png" width="127" height="48"  ></a>
        </div>
         
      </div>
    </nav>
    
    <div class="jumbotron header header-black">
       <div class="container">
       <h1>Verified</h1>

       
 </div>
      </div>
      
      
      <div class="container">
      <div class="reset-form">
 <p class="fs22"><strong>
 We’re ready to analyze your user data!
</strong>
</p>
<p>
Go ahead and log in to get started.
 </p>
  

<div class=" tm30 ">
  <button type="submit" class="btn btn-blue " onclick="window.location.href='/login'">Login</button> 
  </div>
  
  
</div>
 </div>
 </div>