<div ng-controller="CampaignReportCtrl" ng-cloak>
<div class="pageheader main-nav navbar-fixed-top" >
<div class="media">
<div class="pageicon pull-left">
<i class="fa fa-cog"></i>
</div>
<div class="media-body">
<ul class="breadcrumb">
<li>Campaigns</li>
</ul>
<h4>Campaigns</h4>
</div>
</div>
 <div class="pull-right fourth-nav">
      <input date-range-picker class="form-control date-picker" type="text" ng-model="daterange.date" />
      <span class="glyphicon glyphicon-calendar calendar-icon"></span>
    </div>
</div>

<div class="body-content">

<div class="state-overview row sm-gap">
    <div class="col-lg-4 col-sm-6">
      <section class="panel blue">
        <div class="symbol pull-left ">
            <i class="fa-trends fa-revenue">&nbsp;</i>
        </div>
        <div class="value ">
          <p>Total Campaigns</p>
          <h1 class="count ng-binding">{{noOfCampaigns}}</h1>
          <!-- <p class="rating ng-binding"> 
           {{noOfActiveCampaigns}}
          </p> -->
        </div>
      </section>



    </div>
    <div class="col-lg-4 col-sm-6">
      <section class="panel red">
        <div class="symbol pull-left">
         <i class="fa-trends fa-publ">&nbsp;</i>
        </div>
        <div class="value">
          <p>Total Publishers</p>
          <h1 class="count2 ng-binding">{{noOfPublishers}}</h1>
          <!-- <p class="rating ng-binding"> 
           321 active
            
          </p> -->
        </div>
      </section>

    </div>
    <div class="col-lg-4 col-sm-6">
      <section class="panel green">
        <div class="symbol pull-left">
           <i class="fa-trends fa-gpubl">&nbsp;</i>
        </div>
        <div class="value">
          <p>Total Installs</p>
          <h1 class="count3 ng-binding">{{noOfInstalls}}</h1>

         <!--  <p class="rating ng-binding"> 56.2k unique
             
          </p> -->
        </div>
      </section>

    </div>
  </div>

<div class="top-publisher rocq-content">
<div class="pub-wrapper">
<p class="caption col-lg-12">Top Publisher - Installs</p>

<div class="col-lg-3" ng-repeat="elem in topPublishers | limitTo:4">
<p class="sub-heading">{{elem.x}}</p>
<h2 class="display-fs1">
{{elem.y}}
 <!-- <span class="caption ml10">12.5%</span> -->
</h2>
</div>

<!-- <div class="col-lg-3">
<p class="sub-heading">Bing</p>
<h2 class="display-fs1">
22,453  <span class="caption ml10">15.5%</span>
</h2>
</div>

<div class="col-lg-3">
<p class="sub-heading">Yahoo</p>
<h2 class="display-fs1">
43,453  <span class="caption ml10">34.5%</span>
</h2>
</div>

<div class="col-lg-3">
<p class="sub-heading">Facebook</p>
<h2 class="display-fs1">
87,453  <span class="caption ml10">65.5%</span>
</h2>
</div> -->

</div>


</div>


<div class="panel">
<div class="panel-body no-padding">
<div class="task-progress rq-block ">
<div class="pull-right tm5"><div class="btn-group ">
<button id='PushCampaignTrends_exportpdf' type='Button' value='Export to PDF' class="btn-nobg pull-left">
<i class="fa-trends fa-pdf ">&nbsp;</i>
</button>
<button id='PushCampaignTrends_exportpng' type='Button' value='Export to PDF' class="btn-nobg pull-left">
<i class="fa-trends fa-img ">&nbsp;</i>
</button>
<a href="#" class="fsize-bl"><i class="fa-trends fa-fsize pull-right">&nbsp;</i> </a>
</div>
</div>
<div class="pull-right mr20">
<div class="btn-group mr5" style="display:none;">

<!-- <button type="button" class="btn btn-default dropdown-toggle ng-binding" data-toggle="dropdown" aria-expanded="false">
<i class="fa fa-angle-down pull-right tm4"></i>
Compare Campaign
</button> -->

<div     
    isteven-multi-select
    input-model="campaignliststats"
    output-model="selected_campaign"
     button-label="x"
    item-label="x"
    tick-property="ticked"
    max-labels="2"
    max-height="210px"
    translation="localLang"
>

</div>
</div>


<!-- <div class="btn-group mr5">
<button type="button" class="btn btn-default dropdown-toggle ng-binding" data-toggle="dropdown" aria-expanded="false">
<i class="fa fa-angle-down pull-right tm4"></i>
Weekly
</button>
 
<ul class="dropdown-menu rq-dropdown-menu scrollme" role="menu">
<li><a href="#">Last 15 Days</a></li> 
<li><a href="#">Last 30 Days</a></li>
</ul>
</div> -->


<div class="btn-group mr5" style="display:none;">
<button type="button" class="btn btn-default dropdown-toggle ng-binding" data-toggle="dropdown" aria-expanded="false">
<i class="fa fa-angle-down pull-right tm4"></i>
  Active Campaign
</button>
 
<ul class="dropdown-menu rq-dropdown-menu scrollme" role="menu">
<li><a href="#">Active</a></li>
<li><a href="#">Expire</a></li>
</ul>
</div>
<div class="btn-group"><button type="button" class="btn button-blue-border no-radius " ng-click="reloadPage('campaigns.html')" >+New</button>
</div>

</div>

    
<!-- <div class="btn-group dd-mat ">
<button type="button" class="btn btn-default dropdown-toggle ng-binding" data-toggle="dropdown" aria-expanded="false">
<i class="fa fa-angle-down pull-right tm4"></i>
Select Campaign
</button>
 
<ul class="dropdown-menu  scrollme" role="menu">
<li><span class="date-filter pw10">1 Jan - 15 Jan</span></li>
<li><a href="#">Test Campaign Rocq</a></li>
<li><a href="#">Mor-Rocq</a></li>
<li><span class="date-filter pw10">15 Jan - 30 Jan</span></li>
<li><a href="#">EventRoca</a></li>
</ul>
</div>
 -->
 <div class="btn-group mr5" >
<div     
    isteven-multi-select
    input-model="campaignliststats"
    output-model="selected_campaign"
     button-label="x"
    item-label="x"
    tick-property="ticked"
    max-labels="2"
    max-height="210px"
    translation="localLang"
>
</div>
</div>
</div>

<div class="panel-content">
<div class="task-progress task-progress-noborder" style="display:none;">
      <h2>{{push.selected_campaign}}</h2>
  </div>
  <div id="CampaignTrends" class="graph-container ">
    <!-- <img src="images/img-gp10.jpg" class="full-image">  -->
  </div>
<!-- <div id="overall">
<img  src="images/img-gp48.png">
</div> -->
<!-- <div id="compare" class="rq-block">
<div class="pull-right mr20 rq-close"><a href="#" ng-click="generate_preview=false"><i class="fa fa-close fs22"></i></a></div>
<img  src="images/img-gp49.png">
</div> -->
</div>

</div>
</div>




<div class="row">
<div class="col-lg-12 ">
<div class="panel">
<div class="panel-body progress-panel">
<div class="task-progress task-progress-noborder">
<div class="btn-group pull-right fifth-nav tm10">
  <img ng-hide="campaign_loading=='false'" id="uploading_image" src="images/squares.gif" width="32px" height="32px" class="mmt5" />
<a ng-show="campaign_loading=='false'" href="" ng-click="listCampaignStats();campaign_loading='true'" class="bltext"><span class="glyphicon glyphicon-refresh fs12" aria-hidden="true"> Refresh</span></a>
 
<a href="#" class="fsize-bl pull-right"><i class="fa-trends fa-fsize ">&nbsp;</i></a>
<button type="button" ng-csv="VisitorsDayWiseListCSV" csv-header="['Date', 'New Users','Change in %','Organic','Inorganic','Uninstalls',GoalUsers ]" filename="New_Users_Day_Wise_List.csv" class="btn-nobg pull-right ng-isolate-scope"><i class="fa-trends fa-excel pull-right">&nbsp;</i></button>
</div>

<div class="input-group tm5">

<div class="btn-group  mr10">
<div class="search-field">
<span class="glyphicon glyphicon-search search-icon"></span>
<input class="form-control" type="text" placeholder="Search" ng-model="searchcampaign" >
</div>
</div>

<!-- <div class="btn-group  mr10">
<button type="button" class="btn btn-default dropdown-toggle ng-binding" data-toggle="dropdown" aria-expanded="false">
<i class="fa fa-angle-down pull-right tm4"></i>
Edit Status
</button>
 
<ul class="dropdown-menu rq-dropdown-menu scrollme" role="menu">
<li><a href="#" ng-click="editstatus('active')">Active</a></li>
<li><a href="#" ng-click="editstatus('inactive')">Inactive</a></li>
</ul>
</div> -->


<!-- <div class="btn-group  ">
<button type="button" class="btn btn-default dropdown-toggle ng-binding" data-toggle="dropdown" aria-expanded="false">
<i class="fa fa-angle-down pull-right tm4"></i>
Action
</button>
 
<ul class="dropdown-menu rq-dropdown-menu scrollme" role="menu">
<li><a href="#">Edit</a></li>
<li><a href="#">Delete</a></li>
</ul>
</div> -->
</div>


</div>
<div class="text-center panel-content">
<div class="table-component">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<thead>
<tr>
<!-- <th width="6%">

 <input type="checkbox" class="checkbox">

        
      </th> -->
<th width="25%">Campaign Name</th>
<!-- <th>Start Date</th> -->
<!-- <th>Status</th> -->
<th>Publisher Name</th>

<th>Click</th>
<th>Installs</th>
<th>Click Rate</th>
<th>Event Tracking</th>

</tr>
</thead>
<tbody>
<tr ng-hide="table1loaded">
<td colspan="9" >
<p class="text-center"><img src="images/ajax-loader.gif"></p>
</td>
</tr>
<tr ng-show="table1loaded" ng-repeat="item in filteredcampaignsliststats | filter:searchcampaign">
<!-- <td><input type="checkbox"  class="checkbox" ng-checked="checked.Campaigns[item.cmpgnId]" ng-click="checked.Campaigns[item.cmpgnId]=!checked.Campaigns[item.cmpgnId]"></td> -->
<td>{{item.do}}</td>
<!-- <td>{{item.startTime}}</td> -->
<!-- <td><span class="active">{{item.status}}</span></td> -->
<td>{{item.dp}} 
<!-- <span class="glyphicon glyphicon-star rating ml10" aria-hidden="true"></span> -->
</td>

<td>{{item.dt}}</td>
<td>{{item.du}}</td>
<td>{{item.rate}}</td>
<td>
<div class="popup-wrapper">
<a href="" class="link-text" ng-mouseleave="eventpop=false" ng-mouseenter="eventpop=true">{{item.events.length||0}}</a>
<div ng-show="eventpop" class="popup-little">
 
<table class="component-table">
<tr class="gray-text"><td>EVENT</td><td>CLICK</td></tr>
<tr ng-repeat="event in item.events"><td>{{event.evntName}}</td><td>{{event.evntCount}}</td></tr>
</table>
</div>
</div>
<!-- <span class="label label-default">{{item.events[0].evntName+':'+item.events[0].evntCount+'  '+item.events[1].evntName+':'+item.events[1].evntCount}}</span>  -->
</td>

</tr>
<!-- <tr>
<td>2</td>
<td>Event 2</td>
<td>2349</td>
<td>7862</td>

</tr>
<tr>
<td>3</td>
<td>Event 3</td>
<td>2349</td>
<td>7862</td>

</tr>
<tr>
<td>4</td>
<td>Event 4</td>
<td>2349</td>
<td>7862</td>

</tr> -->

</tbody>
</table>
</div>
</div>
<!-- Hide pagination
<pagination previous-text="<" next-text=">" first-text="<<" last-text=">>" total-items="totalItems_tab1" ng-model="currentPage_tab1" items-per-page="10" max-size="maxSize_tab1" class="pagination-sm pull-right" boundary-links="true"></pagination>
-->


</div>
</div>
</div>
</div>



</div>
</div>
<script src="lib/sweetalert/sweetalert.min.js"></script> 

<link rel="stylesheet" type="text/css" href="lib/sweetalert/sweetalert.css"/>
