<div ng-controller="LocationCtrl">
<div class="pageheader main-nav navbar-fixed-top">
  <div class="media">
    <div class="pageicon pull-left">
      <i class="fa fa-bar-chart-o"></i>
    </div>
    <div class="media-body">
      <ul class="breadcrumb">
      <li>Overall Analysis</li>
        <li>Geolocation</li>
      </ul>
      <h4>Geolocation</h4>
    </div>
  </div>

<div class="pull-right fourth-nav">
      <input date-range-picker class="form-control date-picker" type="text" ng-model="daterange.date" />
            <span class="glyphicon glyphicon-calendar calendar-icon"></span>
    </div>
</div>

<div class="body-content">



  <div class="row">
    <div class="col-lg-6 ">
      <div class="map">
        <div style="height: 378px;" class="col-md-12 col-lg-12 col-sm-12 no-padding">
          <!-- <div class="clearfix"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d448182.50738077075!2d77.09326340000003!3d28.646965499999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd5b347eb62d%3A0x37205b715389640!2sDelhi!5e0!3m2!1sen!2sin!4v1417436323028" width="520" height="450" frameborder="0" style="border:0"></iframe></div> -->
          <div id="mapTopCity" class="graph-container"></div>

          <div class="tiles black map-absolute">
            <div class="tiles-body">
              <h5 class="text-white"><span class="semi-bold">QUICK</span> VIEW</h5>
              <div class="m-t-10">
                <div class="widget-stats col-lg-4">
                  <div class="wrapper"> <span class="item-title">Most Visited State</span> <span class="item-count animate-number semi-bold">{{topRegionsNU[0].x}}</span> </div>
                </div>
                <div class="widget-stats col-lg-4">
                  <div class="wrapper"> <span class="item-title">New User</span> <span class="item-count animate-number semi-bold">{{topRegionsNU[0].y}}</span> </div>
                </div>
<!-- <div class="widget-stats col-lg-4 hidden-sm">
<div class="wrapper last"> <span class="item-title">Active User </span> <span class="item-count animate-number semi-bold">{{active_users_raw}}</span> </div>
</div> -->


</div>
</div>

</div>


</div>

</div>
</div>


<div class="col-lg-6">
  <div class="panel">
    <div class="panel-body progress-panel">
      <div class="task-progress">
        <h2>Top 5 Languages</h2>
      </div>

      <div class="  panel-content text-center">
        <div class="panel bp10" ng-repeat="elem in nutop5Languages | limitTo:5">
          <div ng-class="'pname '+col[$index]+'text pl15'">{{elem.x}}&nbsp; </div> 
          <div class="status">

            <div class="progress transparent progress-large no-radius" style="width:100%">
              <div ng-style="{ 'width' : percent_top5_lang_nu[$index] + '%'}" ng-class="'progress-bar progress-bar-'+colors[$index]+' animate-progress-bar'" data-percentage="40%"></div>
            </div>
             <div class="status-massage ">{{percent_top5_lang_nu[$index]}}%</div>
          </div>
        </div>
        <!-- <div class="panel bp10">
          <div class="pname rtext pl15">{{nutop5Languages[1].x}} </div>
          <div class="status">

            <div class="progress transparent progress-large no-radius" style="width:100%">
              <div ng-style="{ 'width' : percent_top5_lang_nu[1] + '%'}" class="progress-bar progress-bar-red animate-progress-bar" data-percentage="40%"></div>
            </div>
            <div class="status-massage  ">{{percent_top5_lang_nu[1]}}%</div>

          </div>
        </div> -->
        <!-- <div class="panel bp10">
          <div class="pname ytext pl15">{{nutop5Languages[2].x}} </div>
          <div class="status">

            <div class="progress transparent progress-large no-radius" style="width:100%">
              <div ng-style="{ 'width' : percent_top5_lang_nu[2] + '%'}" class="progress-bar progress-bar-yellow animate-progress-bar" data-percentage="40%"></div>
            </div>
            <div class="status-massage  ">{{percent_top5_lang_nu[2]}}%</div>

          </div>
        </div>
        <div class="panel bp10">
          <div class="pname gtext pl15">{{nutop5Languages[3].x}} </div>
          <div class="status">

            <div class="progress transparent progress-large no-radius" style="width:100%">
              <div ng-style="{ 'width' : percent_top5_lang_nu[3] + '%'}" class="progress-bar progress-bar-green animate-progress-bar" data-percentage="40%"></div>
            </div>
            <div class="status-massage  ">{{percent_top5_lang_nu[3]}}%</div>

          </div>
        </div>
        <div class="panel ">
          <div class="pname ptext pl15">{{nutop5Languages[4].x}} </div>
          <div class="status">

            <div class="progress transparent progress-large no-radius" style="width:100%">
              <div ng-style="{ 'width' : percent_top5_lang_nu[4] + '%'}" class="progress-bar progress-bar-purple animate-progress-bar" data-percentage="40%"></div>
            </div>
            <div class="status-massage ">{{percent_top5_lang_nu[4]}}%</div>

          </div>
        </div> -->
      </div>


</div>
</div>
</div>


</div>


<div class="row">
  <div class="col-lg-4 ">
    <div class="panel">
      <div class="panel-body progress-panel">
        <div class="task-progress task-progress-noborder">
          <div class="btn-group pull-right fifth-nav">
              <a href="#" class="fsize-bl"><i class="fa-trends fa-fsize pull-right">&nbsp;</i> </a>
              <button type="button" ng-csv="TopRegionsCSV" csv-header="['Region', 'New Users']" filename="New_Users_StateWise.csv" class="btn-nobg pull-left" ><i class="fa-trends fa-excel pull-right">&nbsp;</i></button>
          </div>
          <h2>User/State </h2>
        </div>

        <div class="text-center panel-content">
          <div class="table-component">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <thead>
                <tr>
                  <th>Region</th>
                  <th>New Users</th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr ng-hide="table1loaded">
                  <td colspan="5" >
                    <p class="text-center"><img src="images/ajax-loader.gif"></p>
                  </td>
                </tr> -->

                <tr ng-repeat="elem in filteredregionlist">
                  <td>{{ elem.x }}</td>
                  <td>{{ elem.y }}</td>
                </tr>
              </tbody>
            </table>
            <pagination previous-text="<" next-text=">" first-text="<<" last-text=">>" total-items="totalItems_tab2" ng-model="currentPage_tab2" max-size="maxSize_tab2" class="pagination-sm pull-right" boundary-links="true"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-4 ">
    <div class="panel">
      <div class="panel-body progress-panel">
        <div class="task-progress task-progress-noborder">
          <div class="btn-group pull-right fifth-nav">
            <a href="#" class="fsize-bl"><i class="fa-trends fa-fsize pull-right">&nbsp;</i> </a>

            <button type="button" ng-csv="TopCitiesCSV" csv-header="['City', 'New Users']" filename="New_Users_CityWise.csv" class="btn-nobg pull-left" ><i class="fa-trends fa-excel pull-right">&nbsp;</i></button>
            </div>
          <h2>User/City </h2>
        </div>


        <div class="text-center panel-content">
          <div class="table-component">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <thead>
                <tr>
                  <th>City</th>
                  <th>New Users</th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr ng-hide="table2loaded">
                  <td colspan="5" >
                    <p class="text-center"><img src="images/ajax-loader.gif"></p>
                  </td>
                </tr> -->
                <tr  ng-repeat="elem in filteredcitylist">
                  <td>{{ elem.x }}</td>
                  <td>{{ elem.y }}</td>
                </tr>
              </tbody>
            </table>
            <pagination previous-text="<" next-text=">" first-text="<<" last-text=">>" total-items="totalItems_tab1" ng-model="currentPage_tab1" max-size="maxSize_tab1" class="pagination-sm pull-right" boundary-links="true"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 ">
    <div class="panel">
      <div class="panel-body progress-panel">
        <div class="task-progress task-progress-noborder">
          <div class="btn-group pull-right fifth-nav">
            <a href="#" class="fsize-bl"><i class="fa-trends fa-fsize pull-right">&nbsp;</i> </a>

            <button type="button" ng-csv="NULanguageCSV" csv-header="['Language', 'New Users']" filename="New_Users_LanguageWise.csv" class="btn-nobg pull-left" ><i class="fa-trends fa-excel pull-right">&nbsp;</i></button>
          </div>
          <h2>Language/Users</h2>
        </div>

        <div class="text-center panel-content">
          <div class="table-component">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <thead>
                <tr>
                  <th>Language</th>
                  <th>New Users</th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr ng-hide="table3loaded">
                  <td colspan="5" >
                    <p class="text-center"><img src="images/ajax-loader.gif"></p>
                  </td>
                </tr> -->
                <tr ng-repeat="elem in filteredlanguagelist">
                  <td>{{ elem.x }}</td>
                  <td>{{ elem.y }}</td>
                </tr>
              </tbody>
            </table>
            <pagination previous-text="<" next-text=">" first-text="<<" last-text=">>" total-items="totalItems_tab3" ng-model="currentPage_tab3" max-size="maxSize_tab3" class="pagination-sm pull-right" boundary-links="true"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
