<div class="pageheader">
<div class="media">
<div class="pageicon pull-left">
<i class="fa fa-bar-chart-o"></i>
</div>
<div class="media-body">
<ul class="breadcrumb">
<li><a href=""><i class="fa fa-bar-chart-o"></i></a></li>
<li>Overall Analysis</li>
</ul>
<h4>Overall Analysis Geolocation</h4>
</div>
</div>


<div class="panel default-blue pull-right  date-time" >
<div class="symbol ">
 <span class="day">Monday</span>
 <span class="date">10</span> <span class="month">Feb</span>
</div>
<div class="value">
<p class="time-zone">PM</p>
<p class="time">03:27</p>

</div>
</div>



</div>

<div class="body-content">



<div class="row">
<div class="col-lg-6 ">
<div class="map">
<div style="height: 378px;" class="col-md-12 col-lg-12 col-sm-12 no-padding">
<div class="clearfix"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d448182.50738077075!2d77.09326340000003!3d28.646965499999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd5b347eb62d%3A0x37205b715389640!2sDelhi!5e0!3m2!1sen!2sin!4v1417436323028" width="520" height="450" frameborder="0" style="border:0"></iframe></div>

<div class="tiles black map-absolute">
<div class="tiles-body">
<h5 class="text-white"><span class="semi-bold">QUICK</span> VIEW</h5>
<div class="m-t-10">
<div class="widget-stats col-lg-4">
<div class="wrapper"> <span class="item-title">Most Visited City</span> <span class="item-count animate-number semi-bold">Delhi</span> </div>
</div>
<div class="widget-stats col-lg-4">
<div class="wrapper"> <span class="item-title">New User</span> <span class="item-count animate-number semi-bold">751</span> </div>
</div>
<div class="widget-stats col-lg-4 hidden-sm">
<div class="wrapper last"> <span class="item-title">Active User </span> <span class="item-count animate-number semi-bold">1,547</span> </div>
</div>
 
 
</div>
</div>

</div>


</div>

</div>
</div>


<div class="col-lg-6">
<div class="panel">
<div class="panel-body progress-panel">
<div class="task-progress">
<h1>Top 5 Language</h1>
</div>

<div class="text-center panel-content">
<div class="panel">
<div class="pname btext">Hindi   </div> 
<div class="status">
<div class="progress transparent progress-large no-radius" style="width:100%">
<div style="width: 20%;" class="progress-bar progress-bar-blue animate-progress-bar" data-percentage="64.8%"></div>
</div>
<div class="status-massage">80%</div>
</div>
</div>

<div class="panel">
<div class="pname rtext">English  </div> 
<div class="status">
<div class="progress transparent progress-large no-radius" style="width:100%">
<div style="width: 40%;" class="progress-bar progress-bar-red animate-progress-bar" data-percentage="20%"></div>
</div>
<div class="status-massage">40%</div>
</div>
</div>

<div class="panel">
<div class="pname ytext">Bhojpuri</div> 
<div class="status">
<div class="progress transparent progress-large no-radius" style="width:100%">
<div style="width: 70%;" class="progress-bar progress-bar-yellow animate-progress-bar" data-percentage="40%"></div>
</div>
<div class="status-massage">10%</div>
</div>
</div>


<div class="panel">
<div class="pname gtext">Marathi</div> 
<div class="status">
<div class="progress transparent progress-large no-radius" style="width:100%">
<div style="width: 25%;" class="progress-bar progress-bar-green animate-progress-bar" data-percentage="40%"></div>
</div>
<div class="status-massage">15%</div>
</div>
</div>


<div class="panel">
<div class="pname rtext">Bangali</div> 
<div class="status">
<div class="progress transparent progress-large no-radius" style="width:100%">
<div style="width: 25%;" class="progress-bar progress-bar-red animate-progress-bar" data-percentage="40%"></div>
</div>
<div class="status-massage">15%</div>
</div>
</div>




 </div>
</div>
</div>
</div>


</div>


<div class="row">
<div class="col-lg-4 ">
<div class="panel">
<div class="panel-body progress-panel">
<div class="task-progress task-progress-noborder">
<h1>User/Country </h1>
</div>

<div class="text-center panel-content">
 <div class="table-component">
 <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th>Country</th>
    <th>User</th>
  </tr>
  </thead>
  <tbody>
    <tr>
    <td>Lion KC</td>
    <td>1200</td>

  </tr>
     <tr>
    <td>Lion KC</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Lion KC</td>
    <td>40</td>
  </tr>
  </tbody>
</table>
</div>

 </div>
</div>
</div>
</div>


<div class="col-lg-4 ">
<div class="panel">
<div class="panel-body progress-panel">
<div class="task-progress task-progress-noborder">
<h1>User/City </h1>
</div>

<div class="text-center panel-content">
 <div class="table-component">
 <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th>City</th>
    <th>User</th>
  </tr>
  </thead>
  <tbody>
    <tr>
    <td>Lion KC</td>
    <td>1200</td>

  </tr>
     <tr>
    <td>Lion KC</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Lion KC</td>
    <td>40</td>
  </tr>
  </tbody>
</table>
</div>

 </div>
</div>
</div>
</div>

<div class="col-lg-4 ">
<div class="panel">
<div class="panel-body progress-panel">
<div class="task-progress task-progress-noborder">
<h1>Language/Country </h1>
</div>

<div class="text-center panel-content">
 <div class="table-component">
 <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th>Language</th>
    <th>User</th>
  </tr>
  </thead>
  <tbody>
    <tr>
    <td>Lion KC</td>
    <td>1200</td>

  </tr>
     <tr>
    <td>Lion KC</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Lion KC</td>
    <td>40</td>
  </tr>
  </tbody>
</table>
</div>

 </div>
</div>
</div>
</div>




</div>




</div>