<div class="pageheader">
<div class="media">
<div class="pageicon pull-left">
<i class="fa fa-bar-chart-o"></i>
</div>
<div class="media-body">
<ul class="breadcrumb">
<li><a href=""><i class="fa fa-bar-chart-o"></i></a></li>
<li>Overall Analysis</li>
</ul>
<h4>Overall Analysis Network Operator</h4>
</div>
</div>


<div class="panel default-blue pull-right  date-time" >
<div class="symbol ">
 <span class="day">Monday</span>
 <span class="date">10</span> <span class="month">Feb</span>
</div>
<div class="value">
<p class="time-zone">PM</p>
<p class="time">03:27</p>

</div>
</div>



</div>

<div class="body-content" ng-controller="NetworkCtrl">


<div class="row ">
<div class="col-lg-6">
<div class="panel">
<div class="panel-body progress-panel">
<div class="task-progress">
<div class="pull-right fifth-nav mti10">
<div id="widget">
<div id="widgetField">
<span class="selected-date"></span>
<a href="#"><span class="fa-rounded bg-orange"><i class="fa fa-calendar"></i></span></a>
</div>
<div id="widgetCalendar">
</div>
</div>


</div>
<h1>Operator</h1>
</div>

<div id = "OATopOperators" class="text-center panel-content">
<!-- <img src="images/img-gp23.jpg"> -->
 </div>
</div>
</div>
</div>
<div class=" col-sm-6">
<section class="panel  panel-transparent text-center">
<div class="task-progress">
<h1>Network Type</h1>
</div>
<div id = "OANetworkType" class="text-center panel-content">
<!-- <img src="images/operator-type4.png">  -->
 </div>
</section>
</div>
</div>

<div class="row">

<div class="col-lg-12 ">
<div class="panel">
<div class="panel-body progress-panel">
<div class="task-progress task-progress-noborder">
<h1>Operator </h1>
</div>

<div class="text-center panel-content">
 <div class="table-component">
 <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th>Operator</th>
        <th>New Users</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="elem in operatorslist">
        <td>{{ elem.x }}</td>
        <td>{{ elem.y }}</td>
      </tr>
    </tbody>
  </table>
  <pagination total-items="totalItems_tab1" ng-model="currentPage_tab1" max-size="maxSize_tab1" class="pagination-sm" boundary-links="true"></pagination>
</div>
 </div>
</div>
</div>
</div>
</div>
</div>