<div ng-controller="ForgotPasswordController">
<nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-top pull-left">
   <a href="#" class="brand"><img src="images/logo-rocq.png" width="127" height="48"  ></a>
        </div>
         
      </div>
    </nav>
    
    <div class="jumbotron header header-black">
       <div class="container">
       <h1>RESET PASSWORD</h1>

       
 </div>
      </div>
      
      
      <div class="container">
 <div class="reset-form">


<form class="form "  data-ng-submit="reset()" ng-hide='success==true'>
 <div class="form-group ">
 <label class="fs12 ">Email id </label>
 <div class="fs16">{{email}}</div>
</div>


  <div class="form-group tm10">
  <label ng-init="getemail()">Enter new password </label>
  <input type="password" name="password" pattern=".{6,}" title="Enter Six or more characters" class="form-control" ng-model="password"  placeholder="Password" required>
  </div>
  
   <div class="form-group text-left  ">
  <button type="submit" class="btn btn-blue  ">Reset Password</button>  
  <div class="alert alert-danger alert-dismissible mb0 tm10" style="display: none;" role="alert" id="Error">
<button type="button" class="close" onclick="$('#Error').hide()" aria-label="Close"><span aria-hidden="true">×</span></button>
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span id="error-msg">You have already reset your password or url is invalid.</span>
</div>
  
  </div>
  
</form>
<div class="alert-success-message text-center"  role="alert" id="Success" style="display:none;">
  <div id="success-msg" >
  <h2>Your password has been reset.</h2>
  <p>Go back and <a href="/login">login</a></p>
</div>
</div >



</div>
 </div>
 </div>