<div ng-controller="ForgotPasswordController">
<nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-top pull-left">
   <a href="#" class="brand"><img src="images/logo-rocq.png" width="127" height="48"  ></a>
        </div>
         
      </div>
    </nav>
    
    <div class="jumbotron header header-black">
       <div class="container">
       <h1>FORGOT PASSWORD</h1>

       
 </div>
      </div>
      
      
      <div class="container">
 <div class="reset-form" >
<form class="form" data-ng-submit="generatetoken()"   ng-hide="tokengenerted">
  <div class="form-group col-lg-12">
  <input type="email" id="username" name="username" class="form-control"  placeholder="Email" ng-model="useremail" required>
  </div>
  
   <div class="form-group col-lg-12 text-left ">
  <button type="submit" class="btn btn-blue ">Reset Password</button> or <a href="/login">Login</a>
  </div>
  
</form>
</br>
<div class="alert-success-message text-center"  style="display:none;"  role="alert" id="Success">
 
  <span id="success-msg">
  <div class="reset-message" >

<h3 class="fs18">You will soon receive an email <br />
allowing you to reset your password.</h3>
<p class="note">Please make sure to check your spam and trash if you can’t find the email.</p> 
</div>
</span>
</div >

<div class="alert alert-danger alert-dismissible mb0" style="display:none" role="alert" id="Error">
<button type="button" class="close" onclick="$('#Error').hide()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span id="error-msg">
  Error!
</span>
</div >



</div>
 </div>
 </div>