  <link rel="stylesheet" href="./dist/css/animate.min.css">
  <link rel="stylesheet" href="./dist/css/screenflow.css">
  <script src="dist/js/d3.v3.min.js"></script>
  <!-- <script type="text/javascript" src="dist/js/Box2D.js"></script> -->
  <!-- <script type="application/javascript" src="dist/js/easeljs-0.8.2.min.js"></script> -->
  <!-- <script type="application/javascript" src="dist/js/ball.js"></script> -->
  <!-- <script type="application/javascript" src="dist/js/main.js"></script> -->
 <!-- // <script type="text/javascript" src="lib/vis/vis.js"></script> -->
 <div ng-controller="ScrnFlwController">
  <div class="pageheader main-nav navbar-fixed-top">
    <div class="media">
      <div class="pageicon pull-left">
        <i class="fa fa-th"></i>
      </div>
      <div class="media-body">
        <ul class="breadcrumb">
          <li>User Engagement</li>
          <li>Screen Flow</li>
        </ul>
        <h4>SCREEN FLOW</h4>
      </div>
    </div>
    <div class="pull-right fourth-nav">
      <input date-range-picker class="form-control date-picker" type="text" ng-model="daterange.date" />
      <span class="glyphicon glyphicon-calendar calendar-icon"></span>
    </div>
  </div>

<div class="body-content" >
   <!-- <div class="progress-bars"></div> -->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button> -->
  <!-- Modal Popup -->
    <!-- <a id="demo01" href="#animatedModal">DEMO01</a>
    <div id="animatedModal" class="animated animatedModal-on zoomIn" style="position: fixed; width: 100%; height: 100%; top: 0px; left: 0px; overflow-y: auto; z-index: 9999; opacity: 1; animation-duration: 0.6s; background-color:#fff;">
        <div id="modal-container" class="col-md-12">
          <div class="row">
            <div class="col-md-12" style="text-align:center;">
              <h2>Screen Flow in Decreasing Order of their in and out count.</h2>
            </div>
          </div>
          <div class="row" style="border-bottom:1px solid #BDBDBD;">
            <div class="pull-left col-md-4">
              <label for="">Activities: </label>
              <select class="fix-wdt-select" ng-model="selectActivity" ng-change="screenflow_activity(selectActivity)" placeholder="Select Activity" ng-options="c.label for c in activities_data" name="">
              </select>
            </div>
            <div class="pull-left col-md-4">
              <label for="">Activity Count:</label>
              <select class="fix-wdt-select" ng-model="selectActivityCount" ng-change="screenflow_count(selectActivityCount)" ng-options="c.total_count for c in activities_data" name="">
              </select>
            </div>
              <div class="pull-left col-md-4">
                <input date-range-picker class="form-control date-picker" type="text" ng-model="daterange.date" />
                <span class="glyphicon glyphicon-calendar calendar-icon"></span>
              </div>
          </div>
          <div class="row">
            <div class="col-md-3 total_nodes">
              <ul ng-repeat="c in activities_data">
                <li>{{c.label}} {{c.in_count}}</li>
                <li>
                  <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width' : {{ c.total_count }} }">
                      <span class="sr-only">{{c.in_count}}</span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-md-9" class="circle_div">

            </div>
          </div>


       </div>

       <div id="closebt-container" class="close-animatedModal">
             <svg class="closebt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="52px" height="52px" viewBox="0 0 52 52" enable-background="new 0 0 52 52" xml:space="preserve">
               <g>
                 <circle fill="none" stroke="#BDBDBD" stroke-width="2" stroke-miterlimit="10" cx="26" cy="26" r="25"/>
                 <g>
                   <line fill="none" stroke="#BDBDBD" stroke-width="2" stroke-miterlimit="10" x1="33.571" y1="34.278" x2="18.722" y2="19.429"/>
                   <line fill="none" stroke="#BDBDBD" stroke-width="2" stroke-miterlimit="10" x1="33.571" y1="18.722" x2="18.722" y2="33.571"/>
                 </g>
               </g>
             </svg>
       </div>

    </div> -->


<div class="panel">
  <div class="panel-body progress-panel">
    <div class="panel-content">
      <div class="col-lg-12 no-padding">
        <div class="task-progress">
          <div class="btn-group pull-right fifth-nav">
            <div class="pull-left col-md-4">
              <label for="">Activities: </label>
              <select class="fix-wdt-select" ng-model="selectActivity" ng-change="screenflow_activity(selectActivity)" placeholder="Select Activity" ng-options="c.label for c in activities_data" name="">
              </select>
            </div>
            <div class="pull-left col-md-4">
              <label for="">Activity Count:</label>
              <select class="fix-wdt-select" ng-model="selectActivityCount" ng-change="screenflow_count(selectActivityCount)" ng-options="c.total_count for c in activities_data" name="">

              </select>
            </div>

            <div id="togglecontainer" class="pull-left">
              <input type="checkbox" id="toggle" data-style="ios"  checked data-toggle="toggle" data-on="Max Flow" data-off="All Flow">
            </div>
            <button id="TotalVsInorganicvsOrganic_exportpdf" type="Button" value="Export to PDF" class="btn-nobg pull-left">
              <i class="fa-trends fa-pdf ">&nbsp;</i>
            </button>
            <button id="TotalVsInorganicvsOrganic_exportpng" type="Button" value="Export to PDF" class="btn-nobg pull-left">
              <i class="fa-trends fa-img ">&nbsp;</i>
            </button>
            <a href="#" class="fsize-block"><i class="fa-trends fa-fsize pull-right">&nbsp;</i> </a>
          </div>
          <h2>Screen Flow</h2>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <!-- <div class="col-md-12" style="margin-left:;" id="circle_div"></div> -->
              <div id="sankey_multiple" style="margin-left:0px;width: 1000px; height: 600px;"></div>
            </div>
            <!-- <canvas width="1000" height="600" id="mycanvas"></canvas> -->
            <!-- <canvas width="800" height="600" id="testcanvas"></canvas> -->
          </div>
        </div>
        <div id="dropdownContainer">
          <div class="btn-group pull-right fifth-nav pr20">
            <div class="pull-left mr10">
              <button type="button" class="btn btn-default dropdown-toggle rq-dropdown" data-toggle="dropdown">
                {{numberFilter.x}} <i class="fa fa-angle-down"></i>
              </button>
              <ul class="dropdown-menu rq-dropdown-menu" role="menu">
                <li ng-repeat="elem in numberFilterOptions"><a href="" ng-click="$parent.numberFilter=elem">{{ elem.x }}</a></li>
              </ul>
            </div>
            <div class="pull-left">
              <button type="button" class="btn btn-default dropdown-toggle rq-dropdown" data-toggle="dropdown">
                {{BasedOnFilter.x}} <i class="fa fa-angle-down"></i>
              </button>
              <ul class="dropdown-menu rq-dropdown-menu" role="menu">
                <li ng-repeat="elem in BasedOnFilterOptions"><a href="" ng-click="$parent.BasedOnFilter=elem">{{ elem.x }}</a></li>
              </ul>
            </div>
          </div>
<!-- <div>
<select ng-model="numberFilter" ng-options="item.y as item.x for item in numberFilterOptions" class="btn btn-default dropdown-toggle rq-dropdown"></select>
</div>

  <div> <select ng-model="BasedOnFilter" ng-options="item.y as item.x for item in BasedOnFilterOptions" class="btn btn-default dropdown-toggle rq-dropdown"></select>
 </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panel">
  <div class="panel-body progress-panel ">
		<div class="task-progress task-progress-noborder">
        <div class="btn-group pull-right fifth-nav">
            <a href="#" class="fsize-block"><i class="fa-trends fa-fsize pull-right">&nbsp;</i>	</a>
               <button type="button" ng-csv="CohortCSV" filename="Cohort.csv" class="btn-nobg pull-left ng-isolate-scope"><i class="fa-trends fa-excel pull-right">&nbsp;</i></button>
        </div>
        <h1>Table</h1>
      </div>
			<div class="row">
					<div class="col-lg-12" >
							<div class="panel-body progress-panel">
								<div class="text-center panel-content">
									<div class="simple-table table-component" >
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<thead>
												<tr>
													<th>Entry Point</th>
													<th>Exit Point</th>
                          <th>Convertion Rate</th>
													<th>Drop out Rate</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Maecenas eleifend rutrum</td>
                          <td>Maecenas eleifend rutrum</td>
                          <td>256K</td>
                          <td>256K</td>
												</tr>
											 <tr>
													<td>Maecenas eleifend rutrum</td>
                          <td>Maecenas eleifend rutrum</td>
                          <td>256K</td>
                          <td>256K</td>
												</tr>
                        <tr>
													<td>Maecenas eleifend rutrum</td>
                          <td>Maecenas eleifend rutrum</td>
                          <td>256K</td>
                          <td>256K</td>
												</tr>
											</tbody>
										</table>
 										<pagination previous-text="<" next-text=">" first-text="<<" last-text=">>" total-items="totalItems_tab1" ng-model="currentPage_tab1" max-size="maxSize_tab1" class="pagination-sm pull-right" boundary-links="true"></pagination>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
      </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" style="z-index:9999" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" style="width:100%;margin:0" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Screen Flow in Decreasing Order of their in and out count.</h4>
      </div>
      <div class="modal-body">

        <!-- <div id='canvas-container' style=" text-align:center; display:block;">
        <canvas id="canvas1"  ></canvas> -->
      </div>

      <p class="text-right mr10"><a href="" onclick="drawouter()" class="btn btn-sm btn-default"><i class="fa fa-chevron-left"></i> Back</a></p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div>
  </div>
</div>
</div>



<script>
    var allflow=false
    $('#toggle').bootstrapToggle()
    $('#toggle').change(function() {
      if($(this).prop('checked'))
      {
        allflow=false;
      }
      else{
        allflow=true;
      }
      drawouter();
    });
</script>

<script src="js/controllers/UserEngagement/bubbles.js"></script>
<script src="js/controllers/UserEngagement/json_helper.js"></script>
<script src="js/controllers/UserEngagement/processing.min.js"></script>
<script src="js/controllers/UserEngagement/screenflow-innverview.js"></script>
<script src="js/controllers/UserEngagement/arbor.js"></script>
<script src="js/controllers/UserEngagement/screenflow-outerview.js"></script>
<script src="./dist/js/animatedModal.min.js"></script>
<script src="./dist/js/animateModal.js"></script>
<script src="./dist/js/bootstrap-slider.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load("current", {packages:["sankey"]});
  google.charts.setOnLoadCallback(drawChart);
   function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'From');
    data.addColumn('string', 'To');
    data.addColumn('number', 'Weight');
    data.addRows([
       [ 'ROCQStart', 'Portugal', 5 ],
       [ 'ROCQStart', 'France', 1 ],
       [ 'ROCQStart', 'Spain', 1 ],
       [ 'ROCQStart', 'England', 1 ],
       [ 'ROCQStart', 'Portugal', 1 ],
       [ 'ROCQStart', 'France', 5 ],
       [ 'ROCQStart', 'England', 1 ],
       [ 'ROCQStart', 'Portugal', 1 ],
       [ 'ROCQStart', 'France', 1 ],
       [ 'ROCQStart', 'Spain', 5 ],
       [ 'ROCQStart', 'England', 1 ],
       [ 'ROCQStart', 'Portugal', 1 ],
       [ 'ROCQStart', 'France', 1 ],
       [ 'ROCQStart', 'Spain', 1 ],
       [ 'ROCQStart', 'England', 5 ],
       [ 'Portugal', 'Angola', 2 ],
       [ 'Portugal', 'Senegal', 1 ],
       [ 'Portugal', 'Morocco', 1 ],
       [ 'Portugal', 'South Africa', 3 ],
       [ 'France', 'Angola', 1 ],
       [ 'France', 'Senegal', 3 ],
       [ 'France', 'Mali', 3 ],
       [ 'France', 'Morocco', 3 ],
       [ 'France', 'South Africa', 1 ],
       [ 'Spain', 'Senegal', 1 ],
       [ 'Spain', 'Morocco', 3 ],
       [ 'Spain', 'South Africa', 1 ],
       [ 'England', 'Angola', 1 ],
       [ 'England', 'Senegal', 1 ],
       [ 'England', 'Morocco', 2 ],
       [ 'England', 'South Africa', 7 ],
       [ 'South Africa', 'China', 5 ],
       [ 'South Africa', 'India', 1 ],
       [ 'South Africa', 'Japan', 3 ],
       [ 'Angola', 'China', 5 ],
       [ 'Angola', 'India', 1 ],
       [ 'Angola', 'Japan', 3 ],
       [ 'Senegal', 'China', 5 ],
       [ 'Senegal', 'India', 1 ],
       [ 'Senegal', 'Japan', 3 ],
       [ 'Mali', 'China', 5 ],
       [ 'Mali', 'India', 1 ],
       [ 'Mali', 'Japan', 3 ],
       [ 'Morocco', 'China', 5 ],
       [ 'Morocco', 'India', 1 ],
       [ 'Morocco', 'Japan', 3 ]
    ]);

    // Set chart options
    var options = {
      width: 1000,
      sankey:{
        node:{
          width:200,
          nodePadding: 80,
          label: {
            fontName: 'Times-Roman',
            fontSize: 12,
            color: '#000',
            bold: true,
            italic: false
          },
          interactivity: true,
          labelPadding: 6,
          colorMode:'unique'
        }
      },
      tooltip:{
        isHtml:true,
        textStyle: {
          color: '#FF0000'
        },
        showColorCode: true
      }
    };

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.Sankey(document.getElementById('sankey_multiple'));
    chart.draw(data, options);
    chart.getSelection();
   }
</script>
<script type="text/javascript">
// With JQuery
$('#ex1').slider({
formatter: function(value) {
  return 'Current value: ' + value;
}
});
</script>
