<div ng-controller="PushReportCtrl" ng-cloak>
    <div class="pageheader main-nav navbar-fixed-top" >
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-cog"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li>Send Push Report</li>
                </ul>
                <h4>Send Push Report</h4>
            </div>
        </div>
        <div class="pull-right fifth-nav">
      <input date-range-picker class="form-control date-picker" type="text" ng-model="daterange.date" />
      <span class="glyphicon glyphicon-calendar calendar-icon"></span>
    </div>

    </div>


    <div class="body-content" ng-hide="push.selected_campaign">

<div class="panel-content  ">

<div class="alert alert-success alert-dismissible " style="display:none" role="alert" id="Success2">
<button type="button" class="close" onclick="$('#Success2').hide()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span id="success-msg2">Success!</span>
</div >

 <div class="alert alert-danger alert-dismissible " style="display:none" role="alert" id="Error2" >
                            <button type="button" class="close" onclick="$('#Error2').hide()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span id="error-msg2">An error occured!</span>
</div>
 
 <div class="panel " ng-show="showCreateNewFunnel">
            <div class="panel-body no-padding" >
<div class="col-lg-12" >
<div class="form lg-form  ">

<div class="form-header pl0 ">
<h2>CREATE A NEW FUNNEL</h2>
</div>


<div class="form-body">    


<div class="form-group  form-border-block"><input type="text" class="form-control"   placeholder="Enter Funnel Name" ng-model="funnelname"></div>


<div class="form-group  form-border-block " ng-repeat="i in stepslength">

<div class="heading" ><p>Step {{$index+1}}</p> <p class="close-fblock" ng-click="deletestep($index)"  ng-show="$index>1"><a href="#" ><i class="fa fa-times fa-1" ></i></a></p></div>


 <div class="form-group">
<select class="form-control" ng-options="item.x as item.x for item in EventScreenList | filter:($index!=0 || '') && '!'+funnelstep[0] | filter:($index!=1 || '') && '!'+funnelstep[1] | filter:($index!=2 || '') && '!'+funnelstep[2] | filter:($index!=3 || '') && '!'+funnelstep[3] | filter:($index!=4 || '') && '!'+funnelstep[4]"  ng-model="funnelstep[$index]" >
<option style="display:none" value="">Choose Step</option>
</select>
</div>
</div>




<div id="add" class="form-group link"><a href="" ng-click="addstep()">+ New Funnel Step </a></div>


<div class="form-group text-right tm10">
<button type="button" class="btn button-gray-border no-radius" ng-click='resetfunnelfields()'>CANCEL</button> &nbsp;&nbsp;
<button type="button" class="btn button-orange-border no-radius" ng-click="saveFunnel()">CREATE </button>

                                
   </div>
   <div class="alert alert-success alert-dismissible mb0" style="display:none" role="alert" id="Success">
<button type="button" class="close" onclick="$('#Success').hide()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span id="success-msg">Success!</span>
</div >

 <div class="alert alert-danger alert-dismissible mb0" style="display:none" role="alert" id="Error" >
                            <button type="button" class="close" onclick="$('#Error').hide()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span id="error-msg">An error occured!</span>
</div>
                            
                             
</div>
</div>
 
</div>
</div>
</div>





        <div class="panel " ng-show="!showCreateNewFunnel">
            <div class="panel-body no-padding">

<div class="page-left-panel">
<div class="pagesecheader tm20  border-bottom bp20  bm0">
<div class="btn-group pull-right fifth-nav mr15">
<button type="button" class="btn btn-default btn-sm rq-dropdown button-blue-border tm10" ng-click='showCreateNewFunnel=true' >
<i class="fa fa-plus"></i> Add New Funnel 
</button>

</div>


<div class="btn-group form-block  fifth-nav mr10">
<label class="fs11"><em>Select Campaign</em></label>
<button type="button" class="btn btn-default dropdown-toggle rq-dropdown" id="selected_campaign" data-toggle="dropdown">
Select Campaign <i class="fa fa-angle-down"></i>
</button>
<ul class="dropdown-menu rq-dropdown-menu" role="menu" >
<li ng-repeat="item in campaignslist"><a href="" ng-click="getFunnelData($index)">{{item.src}}</a></li>
</ul>
</div>

<div class="btn-group   fifth-nav form-block ">
<label class="fs11"><em>Select Funnel</em></label>
<button type="button" class="btn btn-default dropdown-toggle rq-dropdown" id="selected_funnel" data-toggle="dropdown">
Select Funnel <i class="fa fa-angle-down"></i>
</button>
<ul class="dropdown-menu rq-dropdown-menu" role="menu" >
<li ng-repeat="item in funnellist"><a href="" ng-click="updateFunnelStep($index)">{{item.funnelname}}</a></li>
</ul>
</div>


<h2 class="num-list bm20" style="display:none;"><span>Total number of Campaigns </span> {{total_campaigns}}</h2>


</div>


 

  <div class="col-lg-4 no-padding">
  <div class=" form-vertical"> 
  <div class="form " ng-hide="showSaveAs=='true'">
<div class="form-body col-lg-12" >    
								 
                                <div class="form-group " >
                                  
<select class="form-control" ng-options="item.x as item.x for item in EventScreenList"  ng-model="step0" ng-change="showFunnel(0)" disabled>
 </select>

                                </div>
                                 
                                <div class="form-group  " ng-show="noofsteps[1]">
                                  
<select name="" class="form-control" ng-options="item.x as item.x for item in EventScreenList | filter:'!'+step0 | filter:'!'+step2 | filter:'!'+step3 | filter:'!'+step4 | filter:'!'+step5" ng-model="step1" ng-change="showFunnel(1)">
 </select>

                                </div>
                               
                                
                                 
                                <div class="form-group" ng-show="noofsteps[2]">
                                  
<select name="" class="form-control" ng-options="item.x as item.x for item in EventScreenList | filter:'!'+step0 | filter:'!'+step1 | filter:'!'+step3 | filter:'!'+step4 | filter:'!'+step5" ng-model="step2" ng-change="showFunnel(2)">
 </select>

                                </div>
                               
                                 
                                <div class="form-group" ng-show="noofsteps[3]">
                                  
<select name="" class="form-control" ng-options="item.x as item.x for item in EventScreenList | filter:'!'+step0 | filter:'!'+step1 | filter:'!'+step2 | filter:'!'+step4 | filter:'!'+step5" ng-model="step3" ng-change="showFunnel(3)">
 </select>

                                </div>
                               
                              
                                <div class="form-group" ng-show="noofsteps[4]">
                                  
<select name="" class="form-control" ng-options="item.x as item.x for item in EventScreenList | filter:'!'+step0 | filter:'!'+step1 | filter:'!'+step2 | filter:'!'+step3 | filter:'!'+step5" ng-model="step4" ng-change="showFunnel(4)">
 </select>

                                </div>
                                

                                 
                                <div class="form-group" ng-show="noofsteps[5]">
                                  
<select name="" class="form-control" ng-options="item.x as item.x for item in EventScreenList | filter:'!'+step0 | filter:'!'+step1 | filter:'!'+step2 | filter:'!'+step3 | filter:'!'+step4" ng-model="step5" ng-change="showFunnel(5)">
 </select>




       </div>
       
       <div class="form-group ">
<button type="button" class="btn button-orange-border no-radius pull-left" ng-click="editFunnel()">UPDATE</button>  <button type="button" ng-click="showSaveAs='true'"class="btn button-blue-border no-radius pull-right">SAVE AS NEW</button>
                                
   </div>
                    

                        </div>
                    </div>
                    
                    
                    <div class="form " ng-show="showSaveAs=='true'">
<div class="form-body col-lg-12">    
<div class="form-group ">
<input class="form-control" placeholder="Enter Funnel Name" ng-model="newfunnelname"/ > 
 </div>
                                 
                           
                                 
                                
       
       <div class="form-group ">
<button type="button" class="btn button-gray-border no-radius pull-left" ng-click="showSaveAs='false'">Cancel</button>  <button type="button" class="btn button-blue-border no-radius pull-right" ng-click="saveFunnel('saveasnew')">Save</button>
                                
   </div>
                    

                          

                        </div>
                    </div>
                    
                    
                    </div>
  </div>

 <div class="col-lg-8  ">
  
  
  <div class="graph-header ">


<div class="btn-group fifth-nav pull-right ml10" ng-hide="app.accesstype=='Viewer'">
<button type="button" class="btn btn-default dropdown-toggle rq-dropdown" data-toggle="dropdown">
Action <i class="fa fa-angle-down"></i>
</button>
<ul class="dropdown-menu rq-dropdown-menu dropdown-menu-sm" role="menu" >
<li>                        <a href="#" class="fs11"><span class="  fs11" aria-hidden="true" ng-click="deleteFunnel()">Delete</span></a>
</li>
</ul>
</div>

								<div class="pull-right fifth-nav">

                        <button id='ScreenFunnel_exportpdf' type='Button' value='Export to PDF' class="btn-nobg pull-left">
                            <i class="fa-trends fa-pdf pull-right">&nbsp;</i>
                        </button>
                        <button id='ScreenFunnel_exportpng' type='Button' value='Export to PDF' class="btn-nobg pull-left">
                            <i class="fa-trends fa-img pull-right">&nbsp;</i>
                        </button>
                        
                        <a href="#" class="fsize-block"><i class="fa-trends fa-fsize pull-right">&nbsp;</i> </a>
                </div>
       <div class="location-label cap-text"><h2 class="ng-binding">{{selectedCampaign}}</h2> 
                                </div>  
        	
								</div>
    <!-- <img src="images/img-funnel.jpg" > -->
    <div id = "ScreenFunnel" class="graph-container text-center pw20">
              </div>
   <!--  <p class="average-value text-right"><span class="av-text">Average Goal</span> <span class="av-value">47% <span class="glyphicon glyphicon-upload gtext fs11"></span></span> </p>
    
     
    <div role="tabpanel" class="tab-pane" id="tab2"><img src="images/img-funnel.jpg" ></div>
    -->
  </div>





</div>
</div>

                
<div class="page-right-panel " style="display:none;">
<div id="hide-panel" style="display:none;">
<p class=" hide-panel" ><i class="fa fa-angle-left"></i></p>
</div>
<div class="pagesecheader tm20">
<h2 class="num-list bm20"><span>Total number of Campaigns </span> {{total_campaigns}}</h2>
</div>     


<div class="panel-content ">
 <div id="funnellist">
<ul class="media-list rocq-list  " role="tablist">
 <li class="media border-top " role="presentation" ng-repeat="item in campaignslist" >
 <a href="" ng-click="showFunnel($index)" aria-controls="tab1" role="tab" data-toggle="tab">
    <div class="col-lg-2  media-left ">
     <img src="images/img-sdthumb1.jpg" class="img-border">
    </div>
    <div class="media-body   col-lg-10 col-colm-10">
    <div class="row">
    <div class="col-lg-10">
    <p class="note fs11">{{item.date}}</p>
    <h2 class="media-heading">{{item.src}}</h2>
     
     <div class="row aside-info tm20">
      <div class="col-lg-4 ">
      <p class="note">Landing</p>
      <p>Application</p>
      </div>
      
      <div class="col-lg-4 ">
      <p class="note">Duration</p>
      <p>3 day</p>
      </div>
      
      </div>
      </div>
      
      <div class="col-lg-2 col-colm-2">
      
      <button class="btn btn-default  success-btn" type="button" id="btn-ok" style="display:none;">
 <span class="glyphicon glyphicon-ok" ></span>
</button>

 <button class="btn btn-default " type="button" id="btn-filter">
 <span class="glyphicon glyphicon-filter"  ></span>
</button>


      </div>
      </div>
      </div>
      </a>
  </li>
  
  <!-- li class="media border-top"  role="presentation">
  <a href="" aria-controls="tab2" role="tab" data-toggle="tab">
    <div class="col-lg-2  media-left ">
     <img src="images/img-spthumb2.jpg" class="img-border">
    </div>
       <div class="media-body   col-lg-10 col-colm-10">
    <div class="row">
    <div class="col-lg-10 col-colm-10">
    <p class="note fs11">22 July, 10:30</p>
    <h2 class="media-heading">25% off on home furniture</h2>
     
     <div class="row aside-info tm20">
      <div class="col-lg-4 ">
      <p class="note">Landing</p>
      <p>Applications</p>
      </div>
      
      <div class="col-lg-4 ">
      <p class="note">Duration</p>
      <p>3 day</p>
      </div>
      
      </div>
      </div>
      
      <div class="col-lg-2 col-colm-2">
      
      <button class="btn btn-default  success-btn" type="button"  id="btn-ok" style="display:none;">
 <span class="glyphicon glyphicon-ok" ></span>
</button>

 <button class="btn btn-default " type="button" id="btn-filter">
 <span class="glyphicon glyphicon-filter"  ></span>
</button>


      </div>
      </div>
      </div>
      </a>
  </li>
  
  <li class="media border-top"  role="presentation">
  <a href="" aria-controls="tab2" role="tab" data-toggle="tab">
    <div class="col-lg-2  media-left ">
     <img src="images/img-spthumb2.jpg" class="img-border">
    </div>
        <div class="media-body   col-lg-10 col-colm-10">
    <div class="row">
    <div class="col-lg-10 col-colm-10">
    <p class="note fs11">22 July, 10:30</p>
    <h2 class="media-heading">25% off on home furniture</h2>
     
     <div class="row aside-info tm20">
      <div class="col-lg-4 ">
      <p class="note">Landing</p>
      <p>Applications</p>
      </div>
      
      <div class="col-lg-4 ">
      <p class="note">Duration</p>
      <p>3 day</p>
      </div>
      
      </div>
      </div>
      
      <div class="col-lg-2 col-colm-2">
      
      <button class="btn btn-default  success-btn" type="button"  id="btn-ok" style="display:none;">
 <span class="glyphicon glyphicon-ok" ></span>
</button>

 <button class="btn btn-default " type="button" id="btn-filter">
 <span class="glyphicon glyphicon-filter"  ></span>
</button>


      </div>
      </div>
      </div>
      </a>
  </li>  -->

   
</ul>
</div>
 

</div>
</div>






            </div>
            </div>
            
            
            
            
        


<!-- <div class="panel">
<div class="panel-body  ">
          <div class="row">
            <div class="col-lg-12">

              <div class="panel-body progress-panel">
                <div class="task-progress task-progress-noborder">
                 <div class="btn-group pull-right fifth-nav">
                      <a href="#"><i class="fa-trends fa-fsize pull-right">&nbsp;</i> </a>
                        
                      <button type="button" ng-csv="TransactionsDayWiseListCSV" csv-header="['Date', 'Total Revenue','Revenue/User','Total Transactions', 'Change']" filename="Revenue_Day_Wise_List.csv" class="btn-nobg pull-left" ><i class="fa-trends fa-excel pull-right">&nbsp;</i></button>
                  </div>

                  <h2>Table</h2>
                </div>

                <div class="text-center panel-content">
                 <div class="table-component">
                   <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <thead>
                      <tr>

                        <th width="6%">S.N. <i class="fa fa-caret-down"></i></th>
                        <th width="61%">Event Name <i class="fa fa-caret-down"></i></th>
                        <th width="33%">Goal User <i class="fa fa-caret-down"></i></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>50% off of domino</td>
                        <td>2349</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>50% off of domino</td>
                        <td>7827</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>


        </div>
      </div>
      </div> -->
<div class="panel">
<div class="panel-body  ">
    <div class="row">
<div class="col-lg-12 ">
<div class="panel">
<div class="panel-body progress-panel">
<div class="task-progress task-progress-noborder">
<div class="pull-right btn-group fifth-nav">
  <div class="btn-group pull-right fifth-nav">
                       
                        
            <button type="button" ng-csv="filteredcampaignslistCSV" csv-header="['Campaign Name', 'Launch Time','Sent','Received','Opened','Status','Message Type' ]" filename="Campaigns_List.csv" class="btn-nobg pull-left" ><i class="fa-trends fa-excel pull-right">&nbsp;</i></button>
                      </div>
                      
  <a ng-show="campaign_loading=='false'" href="" ng-click="getcampaigns();campaign_loading='true'" class="bltext"><span class="glyphicon glyphicon-refresh fs12" aria-hidden="true"> Refresh</span></a>
  <img ng-hide="campaign_loading=='false'" id="uploading_image" src="images/squares.gif" width="32px" height="32px" class="mmt5" />
</div>
<h2>Campaigns List</h2>
</div>

<div class="text-center panel-content" id="camp_table">
 <div class="table-component">
 <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th>Campaign Name</th>
        <th>Launch Time</th>
        <th>Sent <span class=" fs12">(Imported)</span></th>
        <th ng-show="app.ostype=='Android'">Received</th>
        <th ng-show="app.ostype=='iOS'">Failure</th>
        <th>Opened</th>
        <th>Status</th>
        <th>Message Type</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-hide="table1loaded">
                                <td colspan="7" >
                                  <p class="text-center"><img src="images/ajax-loader.gif"></p>
                                </td>
                              </tr>

      <tr ng-show="table1loaded" ng-repeat="elem in filteredcampaignslist" ng-init="initializepopover()" >
        <td ng-hide="elem.PushReqTimestamp=='Multiple Dates'" ng-click="getFunnelData($index)" style="cursor:pointer"><div data-toggle="popover" title="Message" data-placement="right" data-trigger="hover" data-content="{{elem.message}}">{{ elem.src}}</div></td>
        <td ng-show="elem.PushReqTimestamp=='Multiple Dates'" ng-click="$root.push.selected_campaign=elem.src" style="cursor:pointer; font-weight:bold;"  class="btext  "> {{ elem.src}}</td>
        <td class="fs13">{{ elem.date}}</td>
        <td><strong>{{ elem.cpc}}</strong> <span class="graytext fs12 pl10">{{ elem.ic || ""}}</span></td>
        <td ng-show="app.ostype=='Android'"><div class="text-center">{{ elem.csc}}</div></td>
        <td ng-show="app.ostype=='iOS'"><div class="text-center">{{ elem.fc}}</div></td>
        <td><div class="text-center">{{ elem.coc}}</div></td>
         <td><span class="label fs12" ng-class="{'completed':'label-success','running':'label-info','pending':'label-info','queued':'label-warning','scheduled':'label-primary'}[elem.status]">{{elem.status}}</span> <span class="fs11 bltext" ng-show="elem.crt">{{ elem.csf}}</span></td>
        <td>{{ elem.mt}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>

  <pagination previous-text="<" next-text=">" first-text="<<" last-text=">>" total-items="totalItems_tab1" ng-model="currentPage_tab1" max-size="maxSize_tab1" class="pagination-sm pull-right" boundary-links="true"></pagination>



</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div ng-if="push.selected_campaign">
  <ng-include src = "'partials/push-detail.html'"> </ng-include>
</div>
      

</div>
<script src="lib/sweetalert/sweetalert.min.js"></script> 
<link rel="stylesheet" type="text/css" href="lib/sweetalert/sweetalert.css"/>
