<section layout="row" flex>
  <md-sidenav class="md-sidenav-right" md-component-id="filters" md-disable-backdrop md-whiteframe="4" class="sidenav-cs1">
    <md-toolbar class="md-tooolbar-cs1">
      <h3 class="sideNav-h1-c1" layout-padding>Disabled Backdrop</h3>
    </md-toolbar>
    <md-content layout-padding layout="column">
      <div class="filter-button-parent">
        <!--<md-button class="filter-button" layout="row">
            <i class="material-icons" layout-margin> {{filter.icon}}</i>{{filter.title}}
        </md-button>-->
          <!--<md-chips ng-model="ctrl.fruitNames" readonly="ctrl.readonly" md-removable="ctrl.removable"></md-chips>-->
          <div flex>
              <!--<md-chips ng-model="card_filters" readonly="card_filters"  md-removable="card_filters"></md-chips>-->
             
              <!--
              <md-chips-select ng-model="card_filters.title" select-items="card_filters.title" main-title="card_filters.title"><md-chips-select>
                  -->
                  
            <!--  md.chips.select 
              // select box count ===  json 
              // select box banane ke bad 
              // api call hogi jo data chipls select me bhar dega 
              location -> chips -> select -> location chips select -> data -> Delhi NCR, Balnglore,H-->
          </div>
      </div>
    </md-content>
      
    <!--  
      <section layout="row" flex ng-model="filterItems">
        <md-chips-select select-items="listItems" main-title="name">sdf</md-chips-select>
          
          <h1>test</h1>

            <md-content ng-cloak="" class="gridListdemoBasicUsage">
                <md-grid-list md-cols-sm="2" md-cols-md="2" md-cols-gt-md="4" md-row-height-gt-md="{{height ? '100px' : '1:1'}}" md-row-height="100px">
                    <md-grid-tile ng-repeat="card in deck_view.listOfCards"  md-rowspan="2" md-colspan="2" md-colspan-sm="1">
                        <card carddata="card"></card>
                    </md-grid-tile>
                    
                    <md-chips ng-model="filter.fruitNames" readonly="ctrl.readonly" md-removable="ctrl.removable"></md-chips>
                    
                </md-grid-list>
            </md-content>
    </section>-->
      
  </md-sidenav>
</section>

<!--   -->
