    <!-- Card -->
        <div flex layout-fill layout-padding>
          <md-card  md-colors="{background: 'blue-400'}" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch flex layout-stretch layout-fill layout-padding>
             <div layout="row" layout-padding>
                 <div flex="20" class="datacardview-icon-container" layout-fill layout-padding>
                    <i  class="material-icons datacardview-icon">file_download</i>
                 </div>
                 <div flex="60" class="datacardview-headline" layout-fill layout-padding >
                     <div layout="column">
                        <p class="margin0 padding0">Total Installs</p>
                        <h1 class="margin0 padding0">36.7K</h1>
                    </div>
                 </div>
                 <div flex="20" class="datacardview-percent" layout-fill layout-padding>
                     <div class="margin0 padding0 colorfff">-31%</div>
                     <i class="margin0 padding0 colorfff material-icons">arrow_downward</i>  
                 </div>
              </div>
          </md-card>
        </div>
        <!-- Card -->