<md-toolbar class="md-whiteframe-5dp site-content-toolbar" style="background-color:#fff;">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings" ng-disabled="false">
      <i ng-click="toggleLeft()"  class="material-icons" style="color:#000;">menu</i>
    </md-button>
    <h2>
      <span><img src="./images/logo-rocq.png" alt="" /></span>
    </h2>
    <div class="">

    </div>
    <span flex=""></span>
    <md-button class="md-icon-button" aria-label="Feedback">
      <i class="material-icons">notifications</i>
    </md-button>
    <md-button class="md-icon-button" aria-label="Feedback">
      <i class="material-icons">feedback</i>
    </md-button>
    <md-button class="md-icon-button" aria-label="Help">
      <i class="material-icons">help</i>
    </md-button>
    <md-button class="md-icon-button" aria-label="Utilities and more">
      <i class="material-icons">more_vert</i>
    </md-button>
  </div>
</md-toolbar>
