<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rocq</title>
    
    <link rel="stylesheet" type="text/css" href="/admindb/css/default.css" /> 
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  
 
  <link rel="stylesheet" type="text/css" href="/admindb/css/component.css" />
  <link rel="stylesheet" type="text/css" href="/admindb/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/admindb/css/layout.css" />


  <link rel="stylesheet" href="/admindb/lib/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="/admindb/lib/bootstrap-daterangepicker/daterangepicker-bs3.css"/>
  <link rel="stylesheet" href="/admindb/lib/jqcloud2/dist/jqcloud.min.css">

 
 
    
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script> 
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-sanitize.min.js"></script>

  
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.1.5/angular-local-storage.js"></script>

 
  <script src="/admindb/js/controllers/authentication/adminauthentication.js"></script> 
  <script src="/admindb/js/controllers/totalusers/totalusers.js"></script>
  <script src="/admindb/js/services/adminjetty.js"></script> 
  
  <script src="/admindb/js/route.js"></script> 
 
  
    

</head>

<body  class="cbp-spmenu-push rocq-mob-spmenupush" ng-app="Rocq">
  <div ng-view></div>
  
    <script src="/admindb/js/bootstrap.min.js"></script>
</body>
</html>